.mainbody{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

p{
 padding-top: 20px;
}

.name{
    color: white;
    padding-left: 20px;
}

.whitelink{
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.column{
    padding: 20px;
    float: left;
    width: 50%;
}

.smallleft{
    width: 35%;
}

.largeright{
    width: 65%;
}

.largeleft{
    width: 65%;
}

.smallright{
    width: 35%;
}

.accordion{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover{
    background-color: #ccc;
}

.panel{
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
  
.aboutimage{
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 90%;
}

.logo{
    padding-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.portrait{
    padding-top: 40px;
    max-width: 40%;
    max-height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.portfooter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

#tagline{
    padding-top: 20px;
    padding-bottom: 10px;
}

footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 3px;
}

.pagefooter{
    padding-top: 30px;
}

.bordered{
    padding-top: 10px;
    border:solid 2px;
    border-color: darkslateblue;
}

.small-picture{
    max-width: 60%;
    max-height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid;
    border-color: darkslateblue;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: lightblue;
}
